body {
	background: #fff;
	font-family: 'Oswald', 'Futura', sans-serif;
	background: url('img/notebook.jpeg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#wrapper {
	margin-top: 10% !important;
}
#content {
	background: rgba(242, 242, 242, 0.8);

	padding: 25px;
}
#content > h1 {
	font-family: 'Lobster', cursive;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
footer {
	margin-top: 20px;
	color: white;
}

.list-group-item {
	color: black;
	border: 1px dashed  #d9d9d9;
}